body{
    background-image: url(/img/img3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
header{
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    color: #fff;
}
h2{
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: wheat;
}
p{
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.svp{
    text-align: center;
    font-size: 20px;
    width: 250px;
    height: 250px;
}